<section>
  <div class="container">
    <div class="row">
      <div class="card-monster col-sm-12">
        <div id="monsterCard">
          <div class="text-center">
            <div class="row">
              <div class="col">
                <span class="badge badge-danger ml-2" id="degatSpanMonster"></span>
                <img class="img-fluid" src="http://res.publicdomainfiles.com/pdf_view/67/13925387417373.png" width="150px" alt="monster" />
              </div>
            </div>
          </div>
          <app-progress-bar [pv]="800" [pvMax]="800" bgType="bg-primary" faType="fa-heart" barName=": pv"></app-progress-bar>
        </div>
      </div>
    </div>
  </div>
</section>
