<div class="card center " style="height: 730px;" *ngIf="player">
  <div class="card-body text-center wrapper">
    <h5 class="card-title title">{{ player.name }}</h5>
    <img class="character" src="{{player.avatar}}" [@attack]="attack ? 'open' : 'closed'" alt="{{player.avatar}}">
    <app-progress-bar [pv]="player.pv" [pvMax]="player.pvMax" bgType="green" faType="fa-heart"
      barName=": pv"></app-progress-bar>
    <div class="spacer2"></div>
    <app-progress-bar [pv]="player.mana" [pvMax]="player.manaMax" bgType="blue" barName=": mana"></app-progress-bar>
    <div class="spacer"></div>
    <span class="badge  badge-danger ml-2 " id="degatSpanJ1"></span>
    <div class="row">
      <app-button-capacity (capacityClicked)="capacityClickHandler($event)" class="my-1 w-100"
        *ngFor="let capacity of player.capacities" [capacity]="capacity" [player]="player"></app-button-capacity>
    </div>
  </div>
</div>