.card-body {
    background-color: #1a3435;
    border-color: #bcad68;
    border-width: 2px;
    color: #bcad68;
}
.card {
    border-color: #bcad68;
    border-width: 5px;
}
.spacer {
    padding: 2%;
}
.spacer2 {
    padding: 0.5%;
}
