<button *ngIf="capacity && capacity.cost && player" type="button"
      class="p-2 d-flex justify-content-between align-items-center btn bouton {{isDisabled ? 'disabled' : '' }} material-tooltip-main w-100"
      (click)="onClick()">
      <img style="width: 70px;" src="{{capacity.spellIcon}}" alt="{{capacity.spellIcon}}">
      <h5 class="m-0 text-start">
            {{ capacity.name }}
      </h5>
      <span class="tooltip-trigger" [attr.data-tooltip]="capacity.description"><i
                  class="fa-solid fa-circle-question"></i></span>
      <div>
            <p class="m-0">
                  <i class="{{ capacity.faIcon }}"></i>
                  <span class="mx-1">{{ capacity.damage }}</span>
            </p>
            <p class="m-0">
                  <i class="fas {{ capacity.cost.faIcon }}"></i>
                  <span class="mx-1">{{ capacity.cost.value }}</span>
            </p>
      </div>
</button>