<div class="modal fade show" id="defeatedModal" tabindex="-1" role="dialog" aria-labelledby="defeatedModalLabel"
    aria-hidden="true" style="display: block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="defeatedModalLabel">Death screen</h5>
                <button type="button" (click)="reloadPage()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>.</p>
                <img src="/assets/images/death/deathgif.gif" alt="you died">
                <img style="width: 70%;" src="/assets/images/death/defaite.png" alt="you died">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="reloadPage()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>